.error {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 150px);
  color: $white;

  span {
    font-size: 120px;
    font-weight: 700;
  }

  .error-text {
    text-align: center;
    font-size: 20px;
    margin: 0;
  }
  a {
    margin-top: 20px;
    color: $color-secondary;
    text-decoration: underline;
  }
}
